[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
gillespy2 = "*"
python-libsbml = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.11"
